{% extends 'layout.html.twig' %}

{% block content %}

    <div id="logo">
        <a href="http://www.pimcore.com/"><img src="/bundles/pimcoreadmin/img/logo-claim-gray.svg" alt="Logo claim grey" style="width: 400px;" /></a>
        <hr />
    </div>

    <h1>Valantic SoccerTeam Aufgabe in Pimcore von Andreas Kamm</h1>

    <a href="{{ path('teams') }}">Alle Teams ansehen</a>

{% endblock %}